*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 4%;
    padding-right: 5%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
.logo{
    height: 100px;
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}
nav ul li a{
    transition: 0.9s;
    text-decoration: none;
    color: #5D3FD3;
    font-weight: bold;
    border: 2px solid;
    padding: 6px;
    background: -webkit-linear-gradient(0deg,transparent 50%,#5D3FD3 50%);
    background-size: 200px 80px;
}
nav ul li a:hover{
    background-position: 100px 0;
    color: white;
}
button{
    transition: 0.9s;
    padding: 6px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    background: -webkit-linear-gradient(transparent 50%,black 50%);
    background-size: 80px 200px;
}
button:hover{
    background-position: 0 100px;
    color: white;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-1 img{
    transition: transform 1s ease-in-out;
    flex-basis: 40%;
    margin-top: 50px;
    height: 400px;
    margin-left: -400px;
    border: 2px solid;
    border-radius: 50%;
    border-color: #5D3FD3;
}
.col-1 img:hover{
    filter:brightness(1);
    position: relative;
    transform: translateX(-200px);
}
.col-2{
    text-shadow: 1px 1px 1px black;
    flex-basis: 50px;
    position: absolute;
    left: 800px;
    display: hidden;
}
section{
    width: 100%;
    margin-top: 300px;
    background-color: #9c8ae7;
}
section .col1-1{
    text-align: center;
    width: 100%;
    padding: 30px;
}
section .col1-1 h4{
    text-decoration: underline;
    margin: 15px 0;
    font-size: 40px;
    color: white;
}
section .col1-1 h2{
    margin: 20px 0;
}
section .col1-1 h3{
    margin: 30px 0;
}
section .col1-1 h1 a{
    text-decoration: none;
}
span{
    color: white;
    font-size: 50px;
}
/* .video-1{
    margin: 100px 0;
    z-index: -1;
    position: relative;
} */
.video-1{
    height: 600px;
    background-image: url("/Arjun-reddy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:scroll;
    background-size: cover;
    margin: 60px 0;
    animation: answer 30s infinite;
}
.head{
    margin-top: 60px;
    color: #5D3FD3;
    /* border: 2px solid; */
    text-align: center;
    position: relative;
}
.head:hover{
    /* background-color: #9c8ae7; */
    font-weight: bold;
    color: black;
}
.row-1{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-1 .col2-2{
    margin: 30px 0;
    text-align: center;
    flex-basis: 50%;
}
.row-1 .col2-2 h1{
    margin-bottom: 20px;
}
.row-1 .col2-2 p{
    font-size: large;
}
.col22-2 img{
    width: 400px;
}
.col22-2 img:hover{
    filter: grayscale(1);
}
.navbar-1{
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9c8ae7;
    height: 400px;
    position: relative;
}
.column-1 li{
    list-style-type: none;
    display: block;
}
.column-3 li{
    list-style-type: none;
    display: block;
}
.column-1 li a{
    text-decoration: none;
    margin-bottom: 6px;
}
.column-3 li a{
    text-decoration: none;
    margin-bottom: 6px;
}
.column-1 ul h3{
    margin: 30px 0;
}
.column-2 ul h3{
    margin: 30px 0;
}
.column-2 ul li{
    list-style-type: none;
    
}
.column-2 li a{
    text-decoration: none;
    
}
.column-2 li a:hover{
    text-decoration: underline;
    color: white;
}
.column-1 li a:hover{
    text-decoration: underline;
    color: white;
}
.column-3 h3{
    margin: 20px 0;
}
.column-3 li a:hover{
    margin: 20px 0;
    color: white;
    text-decoration: underline;
}
.links{
    position: absolute;
    left: 5%;
    top: 80%;
}
.links i{
display: inline-block;
font-size: 35px;
margin-left: 20px;
}
.row-3{
    width: 100%;
    height: 150px;
    margin: 150px 0;
    display: flex;
    justify-content: left;
    transition: transform 1s;
}
.col4{
    flex-basis: 60%;
    margin-top: 20px;
    transition: transform 1s;
}
/* .row-3:hover{
    transform: translateY(60px);
} */
.col4 ul li{
    width: 100%;
    list-style-type: none;
    margin: 20px 0;
    font-size: 19px;
    transition: 1.5s ease-in-out;
}
.col4 ul li:hover{
    transform: translateX(500px);
    font-size: 30px;
    cursor: pointer;
}
.col5 img{
    height: 300px;
    margin-left: 100px;
}
.row7{
    margin: 250px 0;
}
.col-8 p{
    margin-bottom: 20px;
}


@keyframes answer{
    20%{
        background-image: url("/95207-16646197956242-1920.webp");
    }
    45%{
        background-image: url("/Ford-vs-Ferrari-15.webp");
    }
    65%{
        background-image: url("/newslaundry_2021-09_6c68a48b-f212-4fbf-a0d9-d447dbdd9287_Daniel_Craig.webp");}

    85%{
        background-image: url("/92b29-16793102370254-1920.webp");
    }
    100%{
        background-image: url("Arjun-reddy.jpg");
    }
}